@charset "utf-8";

@font-face {
	font-family: Champagne;
	src: url('cac_champagne.woff') format('woff'),
		url('cac_champagne.ttf') format('truetype');
}

@font-face {
	font-family: Grunge;
	src: url('1942.woff') format('woff'),
		url('1942.ttf') format('truetype');
}

@font-face {
	font-family: Dobkin;
	src: url('DobkinPlain.woff') format('woff'),
		url('DobkinPlain.ttf') format('truetype');
}

@font-face {
	font-family: Caveat;
	src: url('Caveat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: Dancing Script;
	src: url('DancingScript-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: Kolker Brush;
	src: url('KolkerBrush-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Lobster;
	src: url('Lobster-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Pacifico;
	src: url('Pacifico-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Roboto;
	src: url('Roboto-Black.ttf') format('truetype');
}

@font-face {
	font-family: Rubik Bubbles;
	src: url('RubikBubbles-Regular.ttf') format('truetype');
}

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Michele Helm
   Date:   10-25-2022
   
   Filename: ph_styles.css

*/

/* Structural Styles */
html {
	background-color: black;
}

body {
  background-color: black;
}

body > p {
  font-size: 1.1em;
  text-align: center;
}

header {
  background-color: black;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, san-serif;
  font-size: 3.5em;
  text-align: center;
  color: whitesmoke;
}

p {
  margin: 0px;
  padding: 5px, 25px, 25px, 25px;
}

address {
  font-style: normal;
  font-size: 2em;
  text-align: center;
  padding: 10px;
  color: whitesmoke;
}

/* Navigation Styles */
nav > a {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  padding: 10px;
}

nav > ul > li> a:visited, nav > ul > li > a:link {
  color: white;
  text-decoration: none;
  background-color: hsla(0, 0%, 42%, 0.4);
}

/* Section Styles */
section.playbill a {
  font-size: 2em;
  font-weight: normal;
}

section.playbill p {
  font-size: 2em;
  font-weight: normal;
  margin: 0px;
  padding: 20px,0px,10px,20px;
}

section.playbill h1 {
  font-size: 3em;
  font-weight: normal;
  margin: 0px;
  padding: 20px,0px,10px,20px;
}

section.playbill#play1 {
  background-color: hsl(240, 100%, 88%);
}

section.playbill#play1 h1{
  font-family: Champagne, cursive;
}

section.playbill#play2 {
  background-color: hsl(25, 88%, 73%);
}

section.playbill#play2 h1{
    font-family: Impact, Charcoal, sans-serif;
}

section.playbill#play3 {
  background-color:  hsl(0, 100%, 75%);
}

section.playbill#play3 h1{
  font-family: Grunge, 'Times New Roman', Times, serif;
}

section.playbill#play4 {
  background-color: hsl(296, 86%, 86%);
}

section.playbill#play4 h1{
  font-family: Dobkin, cursive;
}

section.playbill#play5 {
  background-color: hsl(90,75%,50%);
}

section.playbill#play5 h1{
  font-family: Caveat;
}

section.playbill#play6 {
  background-color: hsl(325,100%,50%);
}

section.playbill#play6 h1{
  font-family: Roboto;
}

section.playbill#play7 {
  background-color: hsl(180,75%,50%);
}

section.playbill#play7 h1{
  font-family: Dancing Script;
}

section.playbill#play8 {
  background-color: hsl(325,25%,50%);
}

section.playbill#play8 h1{
  font-family: Rubik Bubbles;
}

section.playbill#play9 {
  background-color: hsl(215,100%,50%);
}

section.playbill#play9 h1{
  font-family: Lobster;
}

/* Description List Styles */
dt {
  font-size: 1.32em;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.4);
}

dd {
  font-size: 1.3em;
  margin-left: 0px;
  margin-bottom: 10px;
}
